<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Selenium Automation Test" verbose="1" >
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name =" Selenium UI Test" preserve-order="true" >
    <classes>
        <class name="com.selenium.webui.page.TestHomePage">
            <methods>
                <include name="testSelectCity"/>
                <include name="testSelectKeyword"/>
            </methods>
        </class>
    </classes>

    </test>    
    
    <test name ="Teardown Test" preserve-order="true" >
        <classes>
            <class name = "com.selenium.webui.TestPage">
                <methods>
                    <include name="shutDown"/>
                </methods>
            </class>
        </classes>
    </test>

    <parameter name="host" value="inn.ctrip.com/onlineinn/index" />
    <parameter name="browser" value="chrome"/>
    <parameter name="words" value="迪士尼"/>


</suite>